@model HomeFinance.Models.DashboardModel

Home

<h1>Accounts</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Balance</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Accounts)
		{
			<tr>
				<td><a asp-controller="Transaction" asp-action="Index" asp-route-accountid="@item.Id">@item.Name</a></td>
				<td>@item.Balance.ToString("£0.00")</td>
				<td><a asp-controller="Accounts" asp-action="Get" asp-route-id="@item.Id">Edit</a></td>
			</tr>
		}
	</tbody>
</table>
<br />
<a asp-controller="accounts" asp-action="add">Add Account</a>

<h1>Categories</h1>

<table>
	<thead>
		<tr>
			<th>Category</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Categories)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Value.ToString("£0.00")</td>
			</tr>
		}
	</tbody>
</table>
<br />
<a asp-controller="category" asp-action="index">Categories</a> |
<a asp-controller="payee" asp-action="index">Payees</a>
