@model HomeFinance.Accounts.ResultModels.AccountResult
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
Balance: @Model.Balance.ToString("£0.00")<br />

<form asp-controller="Accounts" asp-action="Update" method="post">
<input asp-for="Id" type="text" value="@Model.Id"/>
<br />Name
<input asp-for="Name" value="@Model.Name"/>
<br />Opening Balance
<input asp-for="OpeningBalance" value="@Model.OpeningBalance"/>

<textarea asp-for="Description">@Model.Description</textarea>

<input type="submit" />
</form>
<p>
    <a asp-controller="accounts" asp-action="delete" asp-route-id="@Model.Id">Delete</a>
</p>
<h2>Import</h2>
<form asp-controller="accounts" asp-action="import" asp-route-id="@Model.Id" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" />
</form>